iframe {
  float: right;
  padding: 20px 20px;
  width: 50%;
}

header {
  display: inline;
  padding: 20px 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 20px;
}

form {
  padding-left: 20px;
}

button {
  padding-left: 20px;
}

.home {
  float: left;
  padding-right: 20px;
}

.events {
  float: left;
  width: 50%;
  padding: 20px 20px;
  justify-content: center;
}
