iframe {
  float: right;
  padding: 20px 20px;
  width: 50%;
}

header {
  display: inline;
  padding: 20px 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 20px;
}

form {
  padding-left: 20px;
}

input {
  border-radius: 30%;
  padding-top: 20px;
  width: 40%;
  display: inline;
}

input:hover {
  background-color: rgb(216, 131, 233) !important;
  border: none;
  transition-timing-function: ease-in;
  transition: 0.5s;
}

.button {
  text-align: center;
}

.current {
  background-color: rgb(216, 131, 233) !important;
}

.home {
  float: left;
  padding-right: 20px;
}

.events {
  float: left;
  width: 50%;
  padding: 20px 20px;
  justify-content: center;
}
