{% extends 'interface/base.html' %}
{% block content %}
	<h2>Progress</h2>
	<article class="media content-section">
	  	<div class="media-body">
	    	<div class="article-metadata">
	    		<a class="mr-2" href="#">title</a>
	  	 	</div>
	  	 	<div class="row">
	  	 		<div class="col-1">	
				  	<a class="icon">
				 		<img src="" alt="icon">
				  	</a>
	  	 		</div>
	  	 		<div class="col-11"> 
				  	<div class="progress">
						<div class="progress-bar 
						progress-bar-striped progress-bar-animated bg-success" style="width:40%">percentage</div>
					</div>
				</div>
			</div>
	   		<p class="article-content"><small class="text-muted">deadline</small></p>
	 	 </div>
	</article>
{% endblock content %}