{% extends 'interface/base.html' %}
{% block content %}
	<h2>Progress</h2>
	<article class="media content-section">
	  	<div class="media-body">
	    	<div class="article-metadata">
	    		<a class="mr-2" href="#">Public Safety</a>
	  	 	</div>
	  	 	<div class="row">
	  	 		<div class="col-1">	
				  	<a class="icon">
				 		<img src="https://i.imgur.com/yS5w9vi.png" alt="icon" height="70px" width="70px">
				  	</a>
	  	 		</div>
	  	 		<div class="col-11"> 
				  	<div class="progress" style="height: 45px">
						<div class="progress-bar 
						progress-bar-striped progress-bar-animated bg-success" style="width:35%;height:45px">
						<font size="5">35 pts</font></div>
					</div>
				</div>
			</div>
	 	 </div>
	</article>

	<article class="media content-section">
	  	<div class="media-body">
	    	<div class="article-metadata">
	    		<a class="mr-2" href="#">Accessibility</a>
	  	 	</div>
	  	 	<div class="row">
	  	 		<div class="col-1">	
				  	<a class="icon">
				 		<img src="https://i.imgur.com/3gemsA8.png" alt="icon" height="70px" width="70px">
				  	</a>
	  	 		</div>
	  	 		<div class="col-11"> 
				  	<div class="progress" style="height: 45px">
						<div class="progress-bar 
						progress-bar-striped progress-bar-animated bg-info" style="width:80%;height:45px"><font size="5">80 pts</font></div>
					</div>
				</div>
			</div>
	 	 </div>
	</article>

	<article class="media content-section">
	  	<div class="media-body">
	    	<div class="article-metadata">
	    		<a class="mr-2" href="#">Community</a>
	  	 	</div>
	  	 	<div class="row">
	  	 		<div class="col-1">	
				  	<a class="icon">
				 		<img src="https://i.imgur.com/lfED0Qt.png" alt="icon" height="70px" width="70px">
				  	</a>
	  	 		</div>
	  	 		<div class="col-11"> 
				  	<div class="progress" style="height: 45px">
						<div class="progress-bar 
						progress-bar-striped progress-bar-animated bg-secondary" style="width:15%;height:45px"><font size="5">15 pts</font></div>
					</div>
				</div>
			</div>
	 	 </div>
	</article>

	<article class="media content-section">
	  	<div class="media-body">
	    	<div class="article-metadata">
	    		<a class="mr-2" href="#">Mental Health</a>
	  	 	</div>
	  	 	<div class="row">
	  	 		<div class="col-1">	
				  	<a class="icon">
				 		<img src="https://i.imgur.com/r031LGS.png" alt="icon" height="70px" width="70px">
				  	</a>
	  	 		</div>
	  	 		<div class="col-11"> 
				  	<div class="progress" style="height: 45px">
						<div class="progress-bar 
						progress-bar-striped progress-bar-animated bg-warning" style="width:40%;height:45px"><font size="5">40 pts</font></div>
					</div>
				</div>
			</div>
	 	 </div>
	</article>
{% endblock content %}