{% extends 'interface/base.html' %}
{% block content %}
    <div class="flex-container">
      <div class="box1">
        <div class="gift-cards">
          <h2 class="reward-head">Choose reward</h2>
          <div class="inner-flex">
            <div><img src="https://i.imgur.com/2qsrIhT.jpg" height="180" width="275"/></div>
            <div><img src="https://i.imgur.com/WX3EIoX.png" height="180" width="275"/></div>
          </div>
          <div class="inner-flex">
            <div><img src="https://i.imgur.com/7MPC9zV.jpg" height="180" width="275"/></div>
            <div><img src="https://i.imgur.com/63eGyLr.png" height="180" width="275"/></div>
          </div>
        </div>
      </div>
      <div class="box2">
        <div class="donate">
          <h2 class="rewsard-head">Donate Now</h2>
          <a href="https://cmha.ca/" target="_blank"> <img src="https://i.imgur.com/Lg74dGU.png" height="120" width="275"/></a>
          <a href="https://www.kidsability.ca/" target="_blank">
            <img src="https://i.imgur.com/TB72x5c.jpg"
           height="120" width="275"/></a>
          <a href="https://www.artsbuildontario.ca/" target="_blank"
            ><img src="https://i.imgur.com/uYpSh6d.png" height="120" width="500"
          /></a> 
        </div>
      </div>
    </div>
{% endblock content %}